{% extends "base.html" %}
{% block title %}Garibuntu - Events{% endblock %}
{% block content %}

<h2 class="event-h2">Upcoming Events</h2>
<div class="paragraph-evnt">
    <p class="evnt-p">Here is a list of diverse events you can register, sponsor, or be part of as a friend of the car group.</p>
<p class="evnt-p">Let us make a lasting impact on our lives and community.</p>
</div>
<div class="card-container-evnt">
    {% for event in events %}
        <div class="card-evnt">
            <h4>{{ event.title }}</h4>
            <hr>
            <p> <strong>Description/Activity:</strong> {{ event.description }}</p>
            <p><strong>Date:</strong> {{ event.date }} at {{ event.time }}</p>
            <p><strong>Location:</strong> {{ event.location }}</p>
            <p><strong>Fee:</strong> KSH {{ event.registration_fee }}</p>
            <a href="{% url 'events:register_for_event' event.id %}" class="btn">Register</a>
        </div>
    {% endfor %}
</div>

{% endblock %}