{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard - Garibuntu{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="top-nav">
        <div class="side-logo">
            <h2 class="sidebar-logo"><a href="{% url 'garibuntu:dashboard' %}">Garibuntu</a></h2>
        </div>
        <div class="profile-logout">
                <div class="notifications">
                    <a href="#">Notifications</a>
                </div>
                <div class="profile-dropdown">
                    <button class="dropdown-toggle" onclick="toggleDropdown()">
                        {% if user.profile.profile_picture %}
                        <img src="{{ user.profile.profile_picture.url }}" alt="Current Profile Picture"
                            class="profile-picture-dash">
                        {% else %}
                        <img src="{% static 'images/default-avatar.jpg' %}" alt="Default Avatar"
                            class="profile-picture-dash">
                        {% endif %}
                    </button>
                    <div id="dropdownMenu" class="dropdown-content">
                        <a href="{% url 'users:profile_view' %}">View Profile</a>
                        <a href="{% url 'users:edit_profile' %}">Edit Profile</a>
                        <a href="{% url 'garibuntu:logout' %}">Logout</a>
                    </div>
                </div>
        </div>
    </div>
    <div class="sidebar-content">
        <!-- Sidebar -->
        <aside class="sidebar">
            <nav class="sidebar-nav">
                <ul>
                    <li><a href="{% url 'garibuntu:dashboard' %}">Dashboard Home</a></li>
                    <li><a href="{% url 'garibuntu:event_list' %}">Events</a></li>
                    <li><a href="{% url 'garibuntu:group_list_dash' %}">Car Groups</a></li>
                    <li><a href="{% url 'garibuntu:sponsor_list' %}">Sponsors</a></li>
                    <li><a href="{% url 'forum:thread_list' %}">Forum</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="{% url 'garibuntu:logout' %}">Logout</a></li>
                </ul>
            </nav>
        </aside>
    </div>
    <main class="dashboard-content">
        {% block content %}{% endblock %}
    </main>

    <script src="{% static 'js/script.js' %}"></script>



    <footer class="footer-dash">
        <p>&copy; 2024 Garibuntu. All rights reserved.</p>
    </footer>

</body>

</html>