{% extends "base-dash.html" %}
{% load static %}
{% block title %}{{ user.username }}'s Profile{% endblock %}
{% block content %}

<h2 class="profile-head">Your Profile</h2>
<div class="profile-container">
    {% if user.profile.profile_picture %}
    <img src="{{ user.profile.profile_picture.url }}" alt="Current Profile Picture" class="profile-picture-dash">
    {% else %}
    <img src="{% static 'images/default-avatar.jpg' %}" alt="Default Avatar" class="profile-picture-dash">
    {% endif %}
<hr>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Bio:</strong> {{ user.profile.bio }}</p>
<hr>
</div>

{% endblock %}