{% extends "base.html" %}
{% block title %}Garibuntu - Register{% endblock %}
{% block content %}

<h2>Register for Garibuntu</h2>
<div class="form-container">
    <!-- Form begins here -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Render form fields with as_p to show each field in a separate paragraph -->
        {{ form.as_p }}

        <!-- Submit button for form submission -->
        <button type="submit" class="btn">Register</button>
    </form>

    <!-- Link for users who already have an account -->
    <p class="mt-3">Already have an account? <a href="{% url 'login' %}">Log in here</a>.</p>
</div>

{% endblock %}