{% extends "base.html" %}
{% block title %}Garibuntu - Sponsors{% endblock %}
{% block content %}

<h2>Our Sponsors</h2>
<div class="card-container">
    {% for sponsor in sponsors %}
        <div class="sponsor-card">
            <img src="#" alt="{{ sponsor.name }}" class="sponsor-logo">
            <h4>{{ sponsor.name }}</h4>
            <p>Type: {{ sponsor.sponsor_type }}</p>
            {% if sponsor.website_url %}
                <a href="{{ sponsor.website_url }}" target="_blank" class="btn">Visit Website</a>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}